a {
  text-decoration: none;
}

#message-from {
  margin-right: 5px;
}
#message-form {
  width: 80%;
  position: fixed;
  bottom: 0;
  left: 20%;
}

.mdl-textfield {
  width:90%;
}

#message-input {
  width: 100%;
}

#message-list {
  width: 95%;
  margin: 2rem auto;
  display: block;
  height: 70vh;
  overflow-y: auto;
}

.text-right {
  text-align: right;
}

#login-form-container .mdl-layout {
	align-items: center;
  justify-content: center;
}
#login-form-container .mdl-layout__content {
	padding: 24px;
	flex: none;
}

#online-title {
  font-size: 16px;
}